<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.manager.direct.jacobshack2018">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="2KI8ZPjF0gvpGEzR19wm"/>
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="v8H9EHpkoI-Aeo_FGqu-ow"/>
        <meta-data
            android:name="com.here.android.maps.license.key"
            android:value="D0K3UvuZG2zYwFwBavm2sMIEMbibAWOLbJh6U2JVdI3Y+5EWBD4jd/18N24gCn6kBbKwE1zbuwz2cTap9AsLD1QfHQoSso/4vTyjALLUiCJ8e7M2ks1t9kABAuFWlH37p6zVSmbRWUFbljh55rfvjBblveieV7yJtVw/wYS16pzMsllucTPG+rFwdD/pEKaptICwbaMejZaRW2wnHTTMoEtzOaaEtgL5RfXBTgTZ2T6bAQ8DaBaS3w2lK3AqphVpvQqluKQosqzm6sFNyILWFBNmK/+zrzmKkXd6fYFFRMG6WNAsUqDwDV++MKgn7j3bsIw4szlg1FcTip4Fv0K1dhq2GKmzxBjwOgz2sJy8d1QKlCUnPiiXv0aMI0pml4CqzYusHwvdbdyWpDlrYmP+UvjgjpafNEfuudxSONlt17GdGd8dRJVp1goeHL4LlG6m0V8i9s8ap/hwPYSaiJTm7QLyT8haaMxgZUfi+pTghdvFXAPuZXmevYDOwZX45sBjY0OlSGlRHB337ALJRWr1HqNr8JzSQGftfowLSSniqRp1nbs0sGZXp1H3vIrvjIxFna+0cyvjfnZ5WisVKmdgE/kmQUpy9HfiovtOz1izEGIsgCGNePXTJd5aqBqWu+9GrRK8KY+bKsd7q1WQd7U4Wnn1k2TX0fVnHQeRUr1BShI="/>

        <!--
        Developers should always provide custom values for each of {YOUR_LABEL_NAME} and {YOUR_INTENT_NAME}.
        Do not reuse HERE SDK defaults.
        -->

        <meta-data
            android:name="INTENT_NAME"
            android:value="com.here.android.tutorial.MapService"/>

        <service
            android:name="com.here.android.mpa.service.MapService"
            android:exported="false"
            android:label="BasicMapSolutionMapService">
            <intent-filter>
                <action android:name="com.here.android.tutorial.MapService">
                </action>
            </intent-filter>
        </service>

        <activity android:name=".RentList">
        </activity>
        <activity android:name=".Main2Activity">
        </activity>
        <activity android:name=".WebViewActivity">
        </activity>
    </application>

</manifest>